---
import { getCollection, render } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

const options: Intl.DateTimeFormatOptions = {
  year: "numeric",
  month: "long",
  day: "numeric",
};

const schema = {
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  headline: post.data.title,
  description: post.data.preface,
  image: "https://example.com/og_image.png",
  author: {
    "@type": "Person",
    name: "Mislav Dujak",
  },
  publisher: {
    "@type": "Person",
    name: "Mislav Dujak",
  },
  datePublished: post.data.date,
  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": "https://example.com/my-blog-post",
  },
};
---

<Layout title={post.data.title} description={post.data.preface} schema={schema}>
  <header class="flex flex-col items-center justify-center gap-16 pb-32">
    <hgroup class="flex flex-col items-center">
      <h1 class="text-2xl font-bold font-serif leading-normal">
        {post.data.title}
      </h1>
      <a
        href="/"
        class="text-lg leading-normal underline underline-offset-6 decoration-dotted decoration-accent"
        >MISLAV DUJAK</a
      >
    </hgroup>
    <hgroup class="flex flex-col items-center">
      <h2 class="font-serif italic pb-2">PREFACE</h2>
      <p class="md:text-justify text-muted text-lg">{post.data.preface}</p>
    </hgroup>
  </header>
  <div class="flex flex-row items-center gap-3 justify-center">
    <div class="w-16 h-px bg-separator"></div>
    <p class="text-muted text-sm font-serif">
      {post.data.date.toLocaleDateString("en-GB", options)}
    </p>
    <div class="w-16 h-px bg-separator"></div>
  </div>
  <article class="w-full pt-10 pb-24 text-lg *:pb-10 md:text-justify">
    <Content />
  </article>
  <Footer />
</Layout>
