---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Post from "../components/Post.astro";
import Favicon from "../assets/favicon.jpg";

const posts = await getCollection("blog");
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const projects = [
  {
    name: "Ofenziva",
    title: "Journalist",
    date: "2022-",
    link: "https://ofenziva.ffa.hr",
    description:
      "Uvijek je volio dobru priču, a svoj nepresušan izvor istih pronašao je u sportu. Premda na prvu odaje hladnokrvni dojam računalca, u loptanje se zaljubio zbog utjecaja na ljudsku psihologiju.",
  },
  {
    name: "Ofenziva",
    title: "Journalist",
    date: "2022-",
    link: "https://ofenziva.ffa.hr",
    description:
      "Uvijek je volio dobru priču, a svoj nepresušan izvor istih pronašao je u sportu. Premda na prvu odaje hladnokrvni dojam računalca, u loptanje se zaljubio zbog utjecaja na ljudsku psihologiju.",
  },
  {
    name: "Ofenziva",
    title: "Journalist",
    date: "2022-",
    link: "https://ofenziva.ffa.hr",
    description:
      "Uvijek je volio dobru priču, a svoj nepresušan izvor istih pronašao je u sportu. Premda na prvu odaje hladnokrvni dojam računalca, u loptanje se zaljubio zbog utjecaja na ljudsku psihologiju.",
  },
];
---

<Layout>
  <header>
    <nav class="flex flex-row items-center justify-left gap-[1rem]">
      <Image
        src={Favicon}
        alt="Mislav Dujak"
        loading="eager"
        class="rounded-full w-16 h-16"
      />
      <hgroup>
        <h1 class="font-serif font-bold text-xl leading-6">Mislav Dujak</h1>
        <p class="font-sans text-muted text-sm leading-5">STUDENT @ CROATIA</p>
      </hgroup>
    </nav>

    <p
      class="w-full text-justify text-lg leading-[1.55] font-normal pt-8 pb-20"
    >
      Uvijek je volio dobru priču, a svoj nepresušan izvor istih pronašao je u
      sportu. Premda na prvu odaje hladnokrvni dojam računalca, u loptanje se
      zaljubio zbog utjecaja na ljudsku psihologiju. Nastoji razumjeti postupke
      sportaša i objasniti ih, često tražeći treću, srednju vrijednost binarnog
      sustava.
    </p>
  </header>
  <hr class="w-32 h-px text-separator mx-auto" />
  <main>
    <section>
      <ul
        class="pt-12 pb-24 w-full flex flex-col gap-16 md:grid md:grid-cols-2 md:auto-cols-fr"
      >
        {
          projects.map((project, index) => (
            <div
              class={
                index === projects.length - 1 && projects.length % 2 === 1
                  ? "md:col-span-2 md:mx-auto"
                  : ""
              }
            >
              <Project
                name={project.name}
                title={project.title}
                date={project.date}
                link={project.link}
              >
                <p class="md:text-justify leading-[1.55]">
                  {project.description}
                </p>
              </Project>
            </div>
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="w-full flex flex-col gap-20 pb-32">
        {sortedPosts.map((post) => <Post post={post} />)}
      </ul>
    </section>
    <Footer />
  </main>
</Layout>
