---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Project from "../components/Project.astro";
import Post from "../components/Post.astro";

const posts = await getCollection("blog");
const sortedPosts = posts.sort((a, b) => {
  return new Date(b.data.date).getTime() - new Date(a.data.date).getTime();
});

const projects = [
  {
    name: "Ofenziva",
    title: "Journalist",
    date: "2022-2025",
    link: "https://ofenziva.ffa.hr",
    description:
      "A young, up-and-coming Croatian sports outlet. Led by the motto: The answer to all the questions you have about sports.",
  },
  {
    name: "Igram, pišem, lajkam",
    title: "Media",
    date: "2024-",
    link: "https://skolski-sport.hr/",
    description:
      "Selected as a finalist and awarded 2nd place in the Croatian High School Sports Federation’s national young journalism program.",
  },
  {
    name: "UniSport ViLA",
    title: "PR",
    date: "2025-",
    link: "https://akademija.unisport.hr/",
    description:
      "Despite being only a high school student, earned a finalist position in the Croatian Collegiate Sports Federation’s volunteering program.",
  },
];
---

<Layout>
  <Header />
  <hr class="w-32 h-px border-md-separator mx-auto" />
  <main>
    <section>
      <ul
        class="pt-12 pb-24 w-full flex flex-col gap-16 md:grid md:grid-cols-2 md:auto-cols-fr"
      >
        {
          projects.map((project, index) => (
            <div
              class={
                index === projects.length - 1 && projects.length % 2 === 1
                  ? "md:col-span-2 md:mx-auto"
                  : ""
              }
            >
              <Project
                name={project.name}
                title={project.title}
                date={project.date}
                link={project.link}
              >
                <p class="md:text-justify leading-[1.55]">
                  {project.description}
                </p>
              </Project>
            </div>
          ))
        }
      </ul>
    </section>
    <section>
      <ul class="w-full flex flex-col gap-20 pb-32">
        {sortedPosts.map((post) => <Post post={post} />)}
      </ul>
    </section>
    <Footer />
  </main>
</Layout>
