---
import "../styles/global.css";
import Footer from "@/components/Footer.astro";

const { title = "Mislav Dujak", description = "When Lucasfilm lets you down for the nth time (Andor’s the exception), a man’s gotta find his entertainment elsewhere. For me, that became sports. Although this blog leans heavily on numbers, the goal is to explore that space between logic and emotion — where the game truly happens. I can’t promise every pop culture reference will land, or that posts will drop like clockwork, but hey — at least it won’t take as long as Winds of Winter or Everton’s next title.", schema = null } = Astro.props;
---

<!doctype html> 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../src/assets/favicon.jpg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta
      name="description"
      content={description}
    />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content={title} />
    <meta
      property="og:description"
      content={description}
    />
    <meta
      property="og:image"
      content="/og_image.png"
    />

    {schema && <script type="application/ld+json">{JSON.stringify(schema)}</script>}

    <script
      src="https://kit.fontawesome.com/68fab0f1af.js"
      crossorigin="anonymous"></script>
  </head>
  <body
    class="bg-md-bg text-md-fg accent-md-accent w-full min-h-screen font-sans px-5 pt-6 md:pt-7 pb-4 md:px-0 md:max-w-3xl md:mx-auto"
  >
    <slot />
    <Footer />
  </body>
</html>
